<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LEDCubeFeeder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LEDCubeFeeder.Properties.Settings>
            <setting name="ledcubeserver" serializeAs="String">
                <value>192.168.2.33</value>
            </setting>
            <setting name="ledcubeport" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="updateinterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="sensor_temp" serializeAs="String">
                <value>CPU Package</value>
            </setting>
            <setting name="sensor_cpu_exclude" serializeAs="String">
                <value>CPU Total</value>
            </setting>
        </LEDCubeFeeder.Properties.Settings>
    </userSettings>
</configuration>